name : SimplePipeline
on :
  push:
    branches : [main]
jobs :
    lintTest:
      name : lint
      runs-on : ubuntu-latest
      steps:
       - name: Clone Repository
         uses: actions/checkout@v2
       - name: install dependencies
         run:
          echo "Installing dependencies..."
          npm install
       - name: Run Linting
         run:
          echo "Running Linting..."
          npm run lint 
         env:
          CI: true

          
          
            

      
